@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&family=Playfair+Display:ital@1&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{ 
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
   
}

/* Navbar */

.navbar{
    height: 100px;
    background: rgb(236, 230, 254);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 15px rgba(107, 107, 107, 0.74);
    padding: 0 10%;
    position: fixed;
    width: 100%;
}

.logo{
    flex: 20%;
    text-align: left;
}

.logo h1{
    font-family: 'Aboreto', cursive;
    color: rgb(51, 20, 96);
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu .menu-items {
 display: inline-block;
}

.menu .menu-items a{
    color: rgb(77, 77, 77);
    text-decoration: none;
    padding: 20px 16px;
}

.menu .menu-items a:hover{
    color: rgb(0, 0, 0);
    border-top: 4px solid  rgb(199, 166, 214);
}

.menu .botao{
    background: rgb(186, 172, 205);
    padding: 10px 25px;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 5%;
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.menu .botao:hover{
    border: none;
    background: rgb(54, 21, 98);
    color: white;
}

.dropdown{
    position: relative;
    display: inline-block;
    
}

.dropdown-wrapper {
    padding-top: 20px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content{    
    background-color: rgb(186, 172, 205);
    padding: 10px;
    text-align: center;
    border-radius: 10px;    
}

.dropdown-content a{
    display: block;
    padding: 10px;
    color: rgb(77, 77, 77);
    text-decoration: none;
}

.dropdown-content a:hover{
    color: rgb(186, 172, 205);
    background-color: rgb(54, 21, 98);
    border-radius: 10px;
}

.dropdown:hover .dropdown-wrapper{
    display: block;
    transition-delay: 1s;
}

/* Header */

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: rgb(51, 20, 96);
    padding: 0;
    margin: 0;
}

.headline p{
    color: rgb(51, 20, 96);
    text-align: left;
}

.contato-botao{
    display: inline-block;
    background:rgb(51, 20, 96);
    padding: 20px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
  
}

.contato-botao:hover{
    background: #A130A4;
    color: rgb(255, 255, 255);
    padding: 25px;
}

.headline{
    flex: 40%;
    margin-left: 10%;
}

.img-headline{
    flex: 40%;
    margin-right: 10%;
    padding: 20px;
}

section{
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}

section h2{
    width: 100%;
    font-size: 40px;
    margin:0%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #A130A4;
}

.serviços{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #A130A4;
    border-radius: 10px;
    cursor: pointer;
}
.texto-oculto{
    display: none;
}

.card:hover{
    background: #A130A4;
    color: white;
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

footer{
    margin-top: 100px;
    background-color: rgb(236, 230, 254); 
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.74);
    
}

.logo-rodape{
    padding: 100px;
}

.agencia{
    font-family: 'Aboreto', cursive;
    color: rgb(51, 20, 96);
    font-size: 34px;
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
}

.whats:hover{
    padding: 40px;
}
